

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/**** Global styles for Acessibilty ****/

body {
   color: black;
	font-family: arial;
	font-size: 1em;
	}

a {
   color: blue;
	font-family: arial;
	font-size: 1.3em;
	}



/* Added animation and hover over affect to tell that images are clickable per issue #10. */







